[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Basic understanding on foolowing topics and hands on coding
[access "refs/*"]
	owner = group user/Anand Kumatr (anandkrv)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Anand Kumatr (anandkrv)
	label-Verified = -1..+1 group user/Anand Kumatr (anandkrv)
	push = group user/Anand Kumatr (anandkrv)
	read = group user/Anand Kumatr (anandkrv)
	rebase = group user/Anand Kumatr (anandkrv)
	removeReviewer = group user/Anand Kumatr (anandkrv)
	submit = group user/Anand Kumatr (anandkrv)
[access "refs/heads/*"]
	create = group user/Anand Kumatr (anandkrv)
	push = +force group user/Anand Kumatr (anandkrv)
	pushMerge = group user/Anand Kumatr (anandkrv)
	read = group user/Anand Kumatr (anandkrv)
[access "refs/tags/*"]
	push = group user/Anand Kumatr (anandkrv)
	push = +force group user/Anand Kumatr (anandkrv)
